@at-root .dark-theme {
  $primary-color: #ffffff;
  $secondary-color: #BCBBB9;
  $third-color: #151103;
  $active-color: #FBBF04;

  $back-color: #1b1b1b;
  $body-color: #141414;

  --cui-accordion-bg: #1b1b1b;
  --cui-accordion-button-bg: #1b1b1b;
  --cui-accordion-button-active-bg: #1b1b1b;
  --cui-accordion-button-color: white;
  --cui-accordion-button-active-color: white;
  --cui-accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  --cui-accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  --cui-hr-color: rgba(255, 255, 255, .3);
  --cui-link-color: white;
  --cui-link-hover-color: white;
  --cui-card-border-color: #262626;
  --cui-card-color: white;
  --cui-form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgb(251, 191, 4)'/></svg>");

  background-color: $body-color;
  color: $secondary-color;

  .header {
    background: $back-color;
    box-shadow: none;
  }

  .header-toggler {
    color: $active-color;
    border: 1px solid rgba(251, 191, 4, 0.1);
  }

  .sidebar, .sidebar-brand {
    background-color: $back-color;
    box-shadow: none;
  }

  .sidebar-brand .title {
    color: $primary-color;
  }
  .sidebar-nav .nav-link {
    color: $secondary-color;
  }
  
  .sidebar-nav .nav-link.active {
    color: $third-color;
    background-color: $active-color;
    path {
      fill: $third-color;
    }
  }

  .btn-outline-primary {
    border-color: $active-color;
    color: $active-color;
  }

  .btn-outline-primary:hover {
    background-color: $active-color;
    color: $third-color;
  }
  .btn-outline-primary:focus {
    background-color: $active-color;
    color: $third-color;
    box-shadow: none;
  }

  .btn-primary {
    background-color: $active-color;
    color: $third-color;
  }

  .btn-primary:hover {
    background-color: #ffc929;
  }

  @media (max-width: 768px) {
    .btn.header-button {
      background-color: transparent;
      border-color: rgba(251, 191, 4, 0.1) !important;
    }
  }

  .panel {
    background-color: $back-color;
  }

  .workflow.active {
    border-top-color: $active-color;
  }

  .workflow.active,
  .workflow.verified {
    .step {
      color: $active-color;
    }
    .title {
      color: $primary-color;
    }
  }

  .text-title {
    color: $primary-color;
  }

  .form-control,
  .form-control::placeholder,
  .form-select {
    background-color: $body-color;
    color: rgba(255, 255, 255, .4);
    font-size: 12px;
    border-color: #333131;
  }

  .form-control:focus,
  .form-select:focus,
  .accordion-button:focus {
    box-shadow: none;    
  }

  .danger {
    color: $active-color;
  }

  .normal {
    color: $third-color;
  }

  .form-check-input:checked {
    background-color: transparent;
    border-color: $active-color;
  }

  .form-check-input {
    background-color: transparent;
    border-color: $active-color;
  }

  .alert-yellow {
    --cui-alert-color: white;
    --cui-alert-bg: #141414;
    --cui-alert-border-color: #262626;
    --cui-alert-link-color: white;
  }

  .accordion-button {
    border-bottom: 1px solid #262626;
  }

  .accordion-body {
    background-color: $back-color;    
  }

  .table th,
  .table td{
    color: $primary-color !important;
    border-bottom-color: #262626;
  }

  .card {
    background-color: $back-color;
  }

  .card .card-header {
    color: white;
  }

  .badge {
    background-color: #26231A;
    color: #a4a4a4;
  }

  .progress {
    background-color: #2d2b2b;
  }

  .row-between {
    border-bottom: 1px solid #262626;
  }

  .light-blue {
    color: #3298DC;
  }

  .timer div {
    background: #141414;
    border: 1px solid #262626;
  }
}